html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  background-color: var(--color-bg-main);
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}